/* Se pueden combinar las propiedades flex-direction y flex-wrap en la abreviatura flex-flow . El primer valor especificado es flex-direction y el segundo valor es flex-wrap. */



body{
    margin: 0;
}

.box{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}


.card{
    flex: 1 1 250px;
    max-width: 300px;
    padding: 20px;
    
}

.one{
    background-color: brown;
    padding: 100px;
}
.two{
    background-color: aqua;
    padding: 100px;
}
.three{
    background-color: black;
    padding: 100px;
}